body {
  font-family: arial, sans-serif;
  background-color: #fff;
  font-size: small;
  margin: 24px 8px 8px;
  color: #000;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin-bottom: 0;
}
  
h2, h3, h4, h5 {
  margin-left: 25px;
}

h1 {
  font-size: 130%;
  margin: 2em 0 0 10px; 
  padding: 0 3px 0 3px;
  border-top: 1px solid;
  background-color: #e5ecf9;
  border-color: #3366CC;
}

h2 {
  font-size: 120%;
  margin-top: 1.5em;
  border-bottom: 1px solid;
  border-color: #3366CC;
}

h3 {
  font-size: 110%; 
  margin-top: 0.7em;
  position: relative;
  left: 0;
  top: 0.7em;
  z-index: 5; /*to avoid falling behind other elements due to lowered position*/
}
  
h4 {
  margin-top: .5em;
  font-size: 100%;
  font-weight: bold;
  position: relative;
  left: 0;
  top: 0.8em;
  z-index: 5; /*to avoid falling behind other elements due to lowered position*/
}
  
h5 {
  margin-top: 0.4em;
  font-size: 100%;
  font-weight: 100;
  font-style: italic;
  text-decoration: underline;
  position: relative;
  left: 0;
  top: 0.8em;
  z-index: 5; /*to avoid falling behind other elements due to lowered position*/
}

p {
  margin: 1em 0 0 25px;
  padding: 0;
}

table {
  border: 1px solid;
  border-color: #3366CC;
  border-spacing:0;
  margin: 1em 0 0 26px;
  border-collapse: collapse;
  clear: right;
}

pre {
  margin-left: 2em;
}

ol, ul {
  margin-left: 2em;
}